/* rotate function found on stackoverflow */
/* removed as it caused problems - images overlaying text. images edited instead */
.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}